{% extends "base.html" %}

{% block TITLE %}
  Dashbord
{% endblock TITLE %}

{% block content %}
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200">
        <div>
          <h1 class="text-4xl text-gray-800">
            Agent</h1>
        </div>
        <div>
          <a href=" {% url 'agents:agent-create' %}" class="text-gray-500 hover:text-pink-500">
            Create A New Agent</a>
        </div>
      </div>

      {% if agents.exists %}
        <div class="flex flex-col w-full">
          <div class="container px-5 py-24 mx-auto">
            <table class="table-auto w-full text-left whitespace-no-wrap">
              <thead>
                <tr>
                  <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">
                    Username</th>
                  <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">
                    Full Name</th>
                  <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                    Email</th>
                  <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"></th>
                </tr>
              </thead>
              <tbody>
                {% for agent in agents %}
                  <tr>
                    <td class="px-4 py-3">
                      {{ agent.user.username }}
                    </td>
                    <td class="px-4 py-3">
                      {{ agent.user.first_name | capfirst }}
                      {{ agent.user.last_name | capfirst }}
                    </td>
                    <td class="px-4 py-3">
                      {{ agent.user.email }}
                    </td>
                    <td class="px-4 py-3">
                      <a href="{{ agent.get_absolute_url }}" class="flex-grow text-pink-500 border-b-2 border-pink-500 py-2 text-lg px-1">
                        Edit</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endblock content %}
