{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
  <div class="container mx-auto">
    <h1 class="text-4xl text-gray-800">
      Create a New Agent</h1>
    <div>
      <br>

      <form action="." method="post" accept-charset="utf-8">
        {% csrf_token %}
        {{ form | crispy}}
          <input
            class="flex ml-auto text-white bg-pink-500 border-0 py-2 px-6 focus:outline-none hover:bg-pink-600 rounded"
            type="submit"
            value="submit"/>
        </form>
        <br>
        <br>
        <br>
        <a href=" {% url 'agents:agent-list' %}">
          Go Back</a>
      </div>
    </div>
  {% endblock content %}
