[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-crispy-forms = "*"
crispy-tailwind = "*"
gunicorn = "*"

[dev-packages]
django-linter = "*"
pylint = "*"
ipdb = "*"
ipython = "*"
isort = "*"
rope = "*"
autopep8 = "*"
django-debug-toolbar = "*"
django-extensions = "*"
werkzeug = "*"

[requires]
python_version = "3.8"
