{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
  <div class="container mx-auto">
    <form action="." method="post">
      {% csrf_token %}
      {{ form | crispy}}
        <button
          class="flex ml-auto text-white bg-pink-500 border-0 py-2 px-6 focus:outline-none hover:bg-pink-600 rounded"
          type="submit">
          Login</button>
        <hr>
        <a href="{% url 'password-reset' %}">
          Forgot Password?</a>
      </form>
    </div>
  {% endblock content %}
