{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
  <div class="container mx-auto">
    <h2 class="text-xl pb-4">
      Reset Password</h2>
    <form action="." method="post">
      {% csrf_token %}
      {{ form | crispy}}
        <button
          class="flex ml-auto text-white bg-pink-500 border-0 py-2 px-6 focus:outline-none hover:bg-pink-600 rounded"
          type="submit">
          Confirm Reset Password</button>
        <hr>
        <a href="{% url 'login' %}">
          Already has account</a>
      </form>
    </div>
  {% endblock content %}
