{% extends "base.html" %}

{% block TITLE %}
  Leads Delete
{% endblock TITLE %}

{% block content %}
  <section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">
            LEAD</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">
            {{ lead.first_name | capfirst }}
            {{lead.last_name | capfirst}}
          </h1>
          <div class="flex mb-4">
            <a href="{% url 'leads:lead-detail' lead.id %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
              Details</a>
            <a href="{% url 'leads:lead-category-update' lead.id %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
              Category</a>
            <a href=" {% url 'leads:lead-update' lead.id %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
              Update</a>
            <a class="flex-grow text-pink-500 border-b-2 border-pink-500 py-2 text-lg px-1">
              Delete</a>
          </div>
          <p>
            Are You Sure You Want To Delete?</p>
          <div class="flex">
            <form action="." method="post" accept-charset="utf-8" class="p-2 m-4">
              {% csrf_token %}
              <input
                type="submit"
                value="Delete"
                class="flex ml-auto text-white bg-pink-500 border-0 py-2 px-6 focus:outline-none hover:bg-pink-600 rounded"/>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
